# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [106]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [107]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (3).csv

In [174]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [175]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [176]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df =applicant_data_df.drop(columns=['EIN','NAME']) # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [177]:
applicant_data_df.shape

(34299, 10)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [178]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
## YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [179]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()# YOUR CODE HERE

In [180]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [181]:
encoded_data.shape

(34299, 114)

In [182]:
encoded_data=encoded_data.todense()

In [183]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data, 
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [184]:
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [185]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_df = pd.DataFrame(
    applicant_data_df[numerical_variables], 
    columns = numerical_variables
)




df = pd.concat([numerical_df,encoded_df],axis=1)# YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [188]:
# Define the target set y using the IS_SUCCESSFUL column
y = df.loc[:,["IS_SUCCESSFUL"]]# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
display(y)

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 1 columns]

In [189]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X=df.drop(columns='IS_SUCCESSFUL') # YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [190]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)
# YOUR CODE HERE

In [208]:
X_train.shape

(25724, 116)

In [209]:
y_train.shape

(25724, 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [192]:
# Create a StandardScaler instance
scaler = StandardScaler()# YOUR CODE HERE

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)# YOUR CODE HERE

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.fit_transform(X_train)
# YOUR CODE HERE
X_test_scaled = X_scaler.fit_transform(X_test)# YOUR CODE HERE

In [146]:
X_train.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [148]:
X_train.shape[1]

116

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [221]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [222]:
# Define the number of neurons in the output layer
number_output_neurons = 1# YOUR CODE HERE

In [223]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = round(number_input_features*0.75)+1 # YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

88

In [224]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = hidden_nodes_layer1 # YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

88

In [225]:
nn_1 = Sequential()# Create the Sequential model instance
 # YOUR CODE HERE

In [226]:
nn_1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))# Add the first hidden layer
# YOUR CODE HERE

In [227]:
# Add the second hidden layer
nn_1.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# YOUR CODE HERE

In [228]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_1.add(Dense(units=number_output_neurons, activation="sigmoid"))
#sigmoid is good for binary classification and jives well for 1 output neuron
# YOUR CODE HERE

In [229]:
# Display the Sequential model summary
# YOUR CODE HERE
nn_1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 88)                10296

 dense_8 (Dense)             (None, 88)                7832

 dense_9 (Dense)             (None, 1)                 89

=================================================================
Total params: 18,217
Trainable params: 18,217
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [230]:
# Compile the Sequential model
# YOUR CODE HERE

nn_1.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [231]:
display(X_train_scaled.shape)
display(y_train.shape)

(25724, 116)

(25724, 1)

In [232]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
model=nn_1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5730 - accuracy: 0.7201
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7301
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5474 - accuracy: 0.7323
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7351
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5413 - accuracy: 0.7365
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7358
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7375
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7366
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7365
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7382
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7395
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7396
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7394
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7414
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 40/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7414
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 45/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5312 - accuracy: 0.7413
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7421
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7421
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5312 - accuracy: 0.7424
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [235]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5539 - accuracy: 0.7332 - 1s/epoch - 4ms/step
Loss: 0.5539063811302185, Accuracy: 0.7331778407096863

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [237]:
# Set the model's file path
file_path = "AlphabetSoup.h5"# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_1.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [238]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [266]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1# YOUR CODE HERE

**I'm setting the number of hidden nodes to be equal to the number of input nodes

In [240]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  number_input_features# YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

116

In [241]:
# Create the Sequential model instance
nn2=Sequential()

In [267]:
# First hidden layer
# YOUR CODE HERE


#Adding more layers

nn2.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
# Output layer
nn2.add(Dense(units=hidden_nodes_layer1_A1, input_dim=hidden_nodes_layer1_A1, activation="relu"))

nn2.add(Dense(units=hidden_nodes_layer1_A1, input_dim=hidden_nodes_layer1_A1, activation="relu"))

# YOUR CODE HERE
nn2.add(Dense(units=number_output_neurons_A1, input_dim=hidden_nodes_layer1_A1, activation="sigmoid"))


# Check the structure of the model
# YOUR CODE HERE
nn2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 88)                10296

 dense_11 (Dense)            (None, 116)               10324

 dense_12 (Dense)            (None, 116)               13572

 dense_13 (Dense)            (None, 116)               13572

 dense_14 (Dense)            (None, 116)               13572

 dense_15 (Dense)            (None, 116)               13572

 dense_16 (Dense)            (None, 116)               13572

 dense_17 (Dense)            (None, 116)               13572

 dense_18 (Dense)            (None, 116)               13572

 dense_19 (Dense)            (None, 116)               13572

 dense_20 (Dense)            (None, 116)               13572

 dense_21 (Dense)            (None, 116)               13572

 dense_28 (Dense)            (None, 116)               13572

 dense_29 (Dense)            (None, 116)               13572

 dense_30 (Dense)            (None, 116)               13572

 dense_31 (Dense)            (None, 116)               13572

 dense_32 (Dense)            (None, 116)               13572

 dense_33 (Dense)            (None, 116)               13572

 dense_34 (Dense)            (None, 116)               13572

 dense_35 (Dense)            (None, 116)               13572

 dense_36 (Dense)            (None, 116)               13572

 dense_37 (Dense)            (None, 116)               13572

 dense_38 (Dense)            (None, 116)               13572

 dense_39 (Dense)            (None, 1)                 117

=================================================================
Total params: 305,749
Trainable params: 305,749
Non-trainable params: 0
_________________________________________________________________

In [268]:
# Compile the Sequential model
nn2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])# YOUR CODE HERE

In [269]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =nn2.fit(X_train_scaled,y_train,epochs=50) # YOUR CODE HERE

Epoch 1/50
804/804 [==============================] - 13s 10ms/step - loss: 0.5656 - accuracy: 0.7238
Epoch 2/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5502 - accuracy: 0.7362
Epoch 3/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5515 - accuracy: 0.7346
Epoch 4/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5485 - accuracy: 0.7345
Epoch 5/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5456 - accuracy: 0.7351
Epoch 6/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5468 - accuracy: 0.7378
Epoch 7/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5445 - accuracy: 0.7344
Epoch 8/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 9/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5409 - accuracy: 0.7368
Epoch 10/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5399 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5400 - accuracy: 0.7380
Epoch 12/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5428 - accuracy: 0.7357
Epoch 13/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5421 - accuracy: 0.7377
Epoch 14/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 16/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5427 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5449 - accuracy: 0.7352
Epoch 20/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5352 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 9s 12ms/step - loss: 0.5360 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 24/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 25/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5350 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 28/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 29/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 31/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 35/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5381 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5341 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5326 - accuracy: 0.7420
Epoch 40/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5385 - accuracy: 0.7389
Epoch 41/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 42/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 43/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 44/50
804/804 [==============================] - 13s 17ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 45/50
804/804 [==============================] - 12s 15ms/step - loss: 0.5351 - accuracy: 0.7409
Epoch 46/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5358 - accuracy: 0.7417
Epoch 48/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 49/50
804/804 [==============================] - 10s 13ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5364 - accuracy: 0.7398

#### Alternative Model 2

In [270]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [251]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1# YOUR CODE HERE

In [252]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =number_input_features*2 # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

232

In [253]:
# Create the Sequential model instance
nn_A2 = Sequential()# YOUR CODE HERE

In [254]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=hidden_nodes_layer1_A2, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=hidden_nodes_layer1_A2, activation="relu"))

nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=hidden_nodes_layer1_A2, activation="relu"))

nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=hidden_nodes_layer1_A2, activation="relu"))


# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=number_output_neurons_A2, input_dim=hidden_nodes_layer1_A2, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE

In [255]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
# YOUR CODE HERE

In [256]:
# Fit the model
# YOUR CODE HERE
fit_model_A2 =nn_A2.fit(X_train_scaled,y_train,epochs=50) # YOUR CODE HERE

Epoch 1/50
804/804 [==============================] - 8s 8ms/step - loss: 0.5708 - accuracy: 0.7216
Epoch 2/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5545 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5506 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5488 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5470 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5466 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5444 - accuracy: 0.7362
Epoch 8/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 10/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5423 - accuracy: 0.7370
Epoch 11/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5410 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5418 - accuracy: 0.7375
Epoch 13/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 16/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5390 - accuracy: 0.7383
Epoch 17/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 18/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 20/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5377 - accuracy: 0.7389
Epoch 21/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5376 - accuracy: 0.7382
Epoch 22/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 23/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 24/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 25/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 10s 12ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 27/50
804/804 [==============================] - 14s 17ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 28/50
804/804 [==============================] - 11s 14ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 29/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 30/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 32/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 33/50
804/804 [==============================] - 9s 12ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 36/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 39/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 40/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5321 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 42/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5314 - accuracy: 0.7407
Epoch 43/50
804/804 [==============================] - 12s 15ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 10s 12ms/step - loss: 0.5329 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 9s 11ms/step - loss: 0.5320 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 12s 15ms/step - loss: 0.5300 - accuracy: 0.7403
Epoch 47/50
804/804 [==============================] - 12s 14ms/step - loss: 0.5297 - accuracy: 0.7409
Epoch 48/50
804/804 [==============================] - 8s 10ms/step - loss: 0.5305 - accuracy: 0.7415
Epoch 49/50
804/804 [==============================] - 8s 9ms/step - loss: 0.5301 - accuracy: 0.7408
Epoch 50/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5304 - accuracy: 0.7410

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [275]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5539 - accuracy: 0.7332 - 629ms/epoch - 2ms/step
Loss: 0.5539063811302185, Accuracy: 0.7331778407096863

In [276]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn2.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 2s - loss: 0.5575 - accuracy: 0.7308 - 2s/epoch - 7ms/step
Loss: 0.5575038194656372, Accuracy: 0.7308454513549805

In [277]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2) # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5915 - accuracy: 0.7306 - 874ms/epoch - 3ms/step
Loss: 0.5915074348449707, Accuracy: 0.7306122183799744

It appears that adding more hidden layers and adding more neurons per hidden layer doesn't affect neural net performance. A likely reason for this is that there just aren't enough input features/training data to justify such a large network with so many parameters. More parameters can help increase performance for very complex data. Also more parameters can laed to overfittin of the training set.

A logical next step would be to vary the activation functions used.

### Step 3: Save each of your alternative models as an HDF5 file.

In [259]:
# Set the file path for the first alternative model
#file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn2.save('AlphabetSoup1.h5')

In [261]:
# Set the file path for the second alternative model
#file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save('AlphabetSoup2.h5')